footer
  .container.text-center
    p.pull-left © 2014 - 2019 Jesse Charron, (5th). All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/sahat/hackathon-starter') GitHub Project
      li
        a(href='https://github.com/sahat/hackathon-starter/issues') Issues
