extends layout

block content
  h1 5thManager 
  p.lead All 5th Services
  hr
  .row
    .col-sm-6
      h2 CounterParty
      p Trade XCP Cards 
      p 
        a.btn.btn-default(href='http://bookoforbs.herokuapp.com/?utm_source=casaTookan', role='button') BOOK OF ORBS »
    .col-sm-6
      h2 Heading
      p ICO/AirDrop
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p theme
      P
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p theme
      P
        a.btn.btn-default(href='#', role='button') View details »